@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@layer components {

  .clip-resume{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 30% 89%, 14% 100%, 0 88%, 0 91%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .btn-primary {
    @apply bg-primary outline-theme-purple inline-block rounded-full px-6 py-2 font-semibold shadow-sm;
  }

  .text-primary {
    @apply bg-gradient-to-r from-[color:var(--theme-purple)] to-[color:var(--theme-blue)] bg-clip-text text-transparent !important;
  }

  .bg-primary {
    @apply bg-gradient-to-r from-[color:var(--theme-purple)] to-[color:var(--theme-blue)] text-white;
  }

  .outline-theme-purple {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-purple)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-purple)];
  }

  .outline-theme-blue {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-blue)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-blue)];
  }

  .within-outline-theme-purple {
    @apply focus-within:outline focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-[color:var(--theme-purple)] hover:opacity-80 hover:outline-[color:var(--theme-purple)];
  }
}

:root {
  --theme-purple: #5d52d9;
  --theme-blue: #4fc5eb;

  --top-nav-bar-height: 3.5rem;
  --resume-control-bar-height: 3rem;
  --resume-padding: 1.5rem;
}

/* Mobile Responsive Css Starts Here */

.mobile_responsive_nav {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.mobile_white {
  /* background: transparent !important; */
  background-color: transparent;
  position: relative;
}

.mobile_black {
  /* background: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
}

.mobile_responsive_nav nav {
  /* position: fixed; */
  z-index: 9999;
  width: 100%;
  /* background: transparent; */
}

.mobile_responsive_nav nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_responsive_nav .wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.mobile_responsive_nav .wrapper .nav-links {
  display: inline-flex;
  align-items: center;
}

.mobile_responsive_nav .nav-links li {
  list-style: none;
}

.mobile_responsive_nav .nav-links li a {
  /* color: #f2f2f2; */
  /* color: #0D3572; */
  text-decoration: none;
  /* font-size: 20px;
  font-weight: 500; */
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  opacity: 0.75;
}

.mobile_black .nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
}

.mobile_responsive_nav .nav-links li a:hover {
  cursor: pointer;
  color: rgb(25, 28, 31) !important;
  font-weight: 600;
  opacity: 1;
}


.mobile_responsive_nav .nav-links li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}


.mobile_responsive_nav .nav-links li a::before {
  height: 0%;
  width: 80%;
  bottom: -12px;
}

.mobile_responsive_nav .nav-links li a:hover::before {
  height: 4px;
}

.mobile_responsive_nav .nav-links .mobile-item {
  display: none;
}

.mobile_responsive_nav .nav-links .drop-menu {
  position: absolute;
  /* background: #242526; */
  background-color: white;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.mobile_responsive_nav .nav-links li:hover .drop-menu,
.mobile_responsive_nav .nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.mobile_responsive_nav .drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
  color: #000;
}

.mobile_responsive_nav .mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mobile_responsive_nav .mega-box .content {
  /* background: #242526; */
  background-color: white;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mobile_responsive_nav .mega-box .content .row {
  /* width: calc(25% - 30px); */
  line-height: 45px;
  padding: 20px 40px;
}

.mobile_responsive_nav .content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile_responsive_nav .content .row header {
  /* color: #f2f2f2; */
  /* color: #000; */
  color: #1e3a8a;
  font-size: 20px;
  font-weight: 600;
}

.mobile_responsive_nav .content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.mobile_responsive_nav .row .mega-links li {
  padding: 0 15px;
}

.mobile_responsive_nav .row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  /* color: #d9d9d9; */
  color: #000;
  font-size: 14px;
  display: block;
}

.mobile_responsive_nav .row .mega-links li a:hover {
  /* color: #f2f2f2; */
  /* background-color: rgb(247, 247, 247); */
  background-color: rgb(231 224 224);
}

.mobile_responsive_nav .wrapper .btn {
  /* color: #000; */
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.mobile_responsive_nav .wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .mobile_responsive_nav .wrapper .btn {
    display: block;
  }

  .mobile_responsive_nav .nav-links li a {
    color: #000;
  }

  .mobile_responsive_nav .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    /* max-width: 350px; */
    top: 0;
    left: -100%;
    /* background: #242526; */
    background-color: white;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  .mobile_responsive_nav ::-webkit-scrollbar {
    width: 10px;
  }

  .mobile_responsive_nav ::-webkit-scrollbar-track {
    background: #242526;
  }

  .mobile_responsive_nav ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }

  .mobile_responsive_nav #menu-btn:checked~.nav-links {
    left: 0%;
  }

  .mobile_responsive_nav #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  .mobile_responsive_nav #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .mobile_responsive_nav .nav-links li {
    margin: 15px 10px;
  }

  .mobile_responsive_nav .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .mobile_responsive_nav .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  /* .mobile_responsive_nav #showDrop:checked~.drop-menu, */
  .mobile_responsive_nav #resume:checked~.mega-box,
  .mobile_responsive_nav #cover:checked~.mega-box,
  .mobile_responsive_nav #career:checked~.mega-box,
  .mobile_responsive_nav #blog:checked~.mega-box {
    max-height: 100%;
  }

  .mobile_responsive_nav .nav-links .desktop-item {
    display: none;
  }

  .mobile_responsive_nav .nav-links .mobile-item {
    display: block;
    /* color: #f2f2f2; */
    font-size: 19px;
    font-weight: 500;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .mobile_responsive_nav .nav-links .mobile-item:hover {
    /* background: #3A3B3C; */
    background-color: rgb(231 224 224);
    border-radius: 50px;
  }

  .mobile_responsive_nav .drop-menu li {
    margin: 0;
  }

  .mobile_responsive_nav .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mobile_responsive_nav .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mobile_responsive_nav .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mobile_responsive_nav .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mobile_responsive_nav .mega-box .content .row:nth-child(1),
  .mobile_responsive_nav .mega-box .content .row:nth-child(2) {
    border-top: 0px;
    padding: 0px;
  }

  .mobile_responsive_nav .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .mobile_responsive_nav .row .mega-links li {
    margin: 0;
  }

  .mobile_responsive_nav .content .row header {
    font-size: 19px;
  }

  .resume-dashboard {
    margin-bottom: 0 !important;
    padding: 50px 0;
  }
}

.mobile_responsive_nav nav input {
  display: none;
}

.mobile_responsive_nav .body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.FoldImageAnimated_card {
  position: relative;
  width: 100%;
  /* height: 55vh; */
  perspective: 2000px;
  display: block;
  text-align: center;
}

.FoldImageAnimated_content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
  animation-timing-function: ease-in-out;
  animation: FoldImageAnimated_rotateY__DM_fr 8s 2s infinite forwards;
}

.FoldImageAnimated_front {
  transform: rotateY(0deg);
}

.FoldImageAnimated_back {
  transform: rotateY(180deg);
}

.FoldImageAnimated_back,
.FoldImageAnimated_front {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
}

@keyframes FoldImageAnimated_rotateY__DM_fr {
  0% {
    transform: rotateY(0deg);
  }

  40% {
    transform: rotateY(10deg);
  }

  50% {
    transform: rotateY(170deg);
    display: none;
  }

  90% {
    transform: rotateY(185deg);
  }

  100% {
    transform: rotateY(1turn);
  }
}

footer a svg {
  transition: transform 350ms;
}

footer a:hover svg {
  transform: translate(0.5rem, 0rem);
}

.resume-dashboard {
  margin-bottom: -100px;
}

@media (min-width: 1536px) {
  .resume-dashboard {
    margin-bottom: -200px;
  }
}

/* Responsive CSS For Mackbook pro  */
/* @media screen and (min-width: 1025px) and (max-width: 1280px) {
  .mobile_responsive_nav nav .wrapper {
    max-width: 1300px;
  }
} */

/* Mobile Responsive CSS Ends Here  */

/* New Header CSS Ends Here */



/* Resume Templates CSS Starts Here  */

/* Templates 1 CSS Starts Here */



/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */


.bg-dark-gray {
  background-color: #272727;
}

.text-green {
  color: #29f3c3;
}

.bg-green {
  background-color: #29f3c3;
}

.border-green {
  border-color: #29f3c3;
}



.card_box {
  position: relative;
  z-index: 1;
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
  z-index: 1;
}


.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}



.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file>input[type='file'] {
  display: none
}

.file>label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  /* color: hsl(0, 0%, 29%); */
  color: #1e3a8a;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.hiddenButton {
  opacity: 0;
  transform: translateY(20px);
}

.visibleButton {
  opacity: 1;
  transform: translateY(0);
}

/* Resume Tempates CSS Ends Here  */

.template_8 {
  font-family: "Playfair Display", serif;
}




@layer utilities {
  .clip-semi-arc {
    background-color: white;
    /* just for visualization */
    clip-path: ellipse(50% 100% at 50% 100%);
  }
}

/* Font According to Templates */


/* Floating Button CSS Starts Here */

.floating_wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.95) 70%, rgba(255, 255, 255, 1) 78%);
}


.floating_button {
  z-index: 11;
  transition: opacity 0.3s ease-in-out;
}

.floating_button.hidden {
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

/* Floating Button CSS Ends Here */



/* Course Slider CSS Starts Here  */
.steps_slider {
  position: relative;
}

.steps_slider .mySwiper .swiper-pagination {
  position: absolute;
  top: 0;
  /* Adjust this value as needed */
  left: 0;
  /* transform: translateX(-50%); */
  z-index: 10;
  display: flex;
  gap: 10px;
}

.steps_slider .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.steps_slider .swiper-pagination-bullet-active {
  color: #fff;
  background: #08305c;
}




.ReactCollapse--collapse {
  transition: height 500ms;
}


.separator {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  /* Adjust color as needed */
  margin-left: 20px;
  /* Adjust margin as needed */
}

/* Course Slider CSS Ends Here  */



/* New Header CSS Starts Here  */
.new_resume_header .nav-link {

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;

}



.new_resume_header .nav-link:hover {
  opacity: 1;
}

.new_resume_header .nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}


.new_resume_header .nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.new_resume_header .nav-link-grow-up:hover::before {
  height: 5px;
}



.tnbutton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253); */
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.tnbutton:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #1b2f93;
  align-items: center;
}

.tnbutton:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.tnbutton::before {
  position: absolute;
  bottom: -20px;
  content: "Try Now";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.tnbutton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}