.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url('/loaderbg.jpg') no-repeat center center / cover;
}

.text {
    font-weight: bold;
    /* color: white; */
    animation: zoomIn 0.9s ease-in-out;
    font-size: 1rem; /* Default font size */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text {
        font-size: 3.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text {
        font-size: 4.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text {
        font-size: 6rem;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .text {
        font-size: 7.5rem;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
