/** @format */



button.get_start_btn.hire_coach_button {
  width: 260px;
}

.button_wrapper button {
  appearance: none;
  background: #0d3572;
  border: none;
  cursor: pointer;
  isolation: isolate;
  border: 1px solid gray;
  color: white;
}

/* .slide-text-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.slide-text {
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  animation: slideIn 1s forwards;
  font-size: 80px;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
} */

.fade-text-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  margin-top: 100px;
}

.fade-text {
  display: flex;
  align-items: center;
  font-size: 70px;
  width: 100%;
  height: 100px;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.fixed_content {
  margin-top: -50px !important;
}

.get_start_btn {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  width: 220px;
  border-radius: 9999rem;
  background: #efefef;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.floating {
  width: 180px;
  font-size: 15px;
}

.get_start_btn > span.btn_text {
  color: white;
  width: 100%;
  text-align: left;
  padding-block: 10px;
  padding-left: 40px;
  z-index: 2;
  transition: all 200ms ease;
}

.get_start_btn > div.btn_overlay {
  background: #fff;
  width: 45px;
  height: calc(100% - 2px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  border-radius: inherit;
  color: #242424;
  position: absolute;
  right: 1px;
  z-index: 1;
  transition: all 400ms ease;
}

.floating > div.btn_overlay {
  width: 40px;
}

.get_start_btn:hover > span.btn_text,
.get_start_btn:focus > span.btn_text {
  color: #242424;
  font-weight: 500;
}

.get_start_btn:hover > div.btn_overlay,
.get_start_btn:focus > div.btn_overlay {
  width: calc(100% - 2px);
  transition: width 200ms ease;
}

/* Slider button CSS Starts Here  */
.course_button {
  width: 150px;
  font-size: 14px;
  background-color: #0d3572;
}

.course_button > span.btn_text {
  color: white;
  width: 100%;
  text-align: left;
  padding-block: 10px;
  padding-left: 15px;
  z-index: 2;
  transition: all 200ms ease;
}

.course_button > div.btn_overlay {
  width: 40px;
}

.course_button:hover > span.btn_text,
.course_button:focus > span.btn_text {
  color: #242424;
}

.course_button > div.btn_overlay {
  background: #fff;
  width: 40px;
  height: calc(100% - 2px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  border-radius: inherit;
  color: #242424;
  position: absolute;
  right: 1px;
  z-index: 1;
  transition: all 400ms ease;
}

@media screen and (min-width: 992px) {
  .slide-text {
    display: flex;
    transform: translateY(-100%);
    animation: slideIn 1s forwards;
  }

  .slide-text img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .fixed_content {
    margin-top: 0px !important;
  }

  .slide-text {
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    animation: slideIn 1s forwards;
    font-size: 10x;
  }

  .slide-text img {
    width: 100px;
    height: 100px;
  }

  .get_start_btn {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    width: 174px;
    border-radius: 9999rem;
    /* background: #efefef; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
  }




  .get_start_btn > span.btn_text {
    color: white;
    width: 100%;
    text-align: left;
    padding-block: 10px;
    padding-left: 30px;
    z-index: 2;
    transition: all 200ms ease;
  }
}



/* New HomeBanner CSS Starts here  */


.new_home_banner {
  /* background: linear-gradient(74.18deg, #99A6D5 3.97%, #5B75FE 101.42%); */
  /* background: #fff; */
}


@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0%);
  }
}

.infinite-slide {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Adjust based on your requirement */
}

.card-container {
  display: flex;
  flex-direction: column;
  animation: scroll-up 200s linear infinite; /* Upward scrolling */
}

.card-container-reverse {
  display: flex;
  flex-direction: column;
  animation: scroll-down 200s linear infinite; /* Downward scrolling */
}

.infinite-slide .card {
  margin-bottom: 5px; /* Adjust spacing as needed */
}






.ats_section .resume_parent {
  position: relative;
  top: 0;
  left: 0;
}

.ats_section {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

.ats_section .resume_parent img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}


.ats_section .resume_parent .resume_img_1 {
  position: relative;
  top: -50px;
  left: -50px;
}

.ats_section .resume_parent .resume_img_2 {
  position: absolute;
  top: -20px;
  left: 10px;
}

.ats_section .resume_parent .resume_img_3 {
  position: absolute;
  top: 10px;
  left: 60px;
}


.ats_section .resume_parent .resume_img_4 {
  position: absolute;
  top: 70px;
  left: 150px;
}




/* New HomeBanner CSS Ends here  */