   .button_wrapper button{
    appearance: none;
    background: #0d3572;
    border: none;
    cursor: pointer;
    isolation: isolate;
    border: 1px solid gray;
    color: white;
   }
   .slide-text-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
   
  }
  
  .slide-text {
    display: inline-block;
   
    transform: translateY(-100%);
    animation: slideIn 1.0s forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }

   .get_start_btn {
       font-size: 18px;
       line-height: 1.5;
       font-weight: 500;
       width: 220px;
       border-radius: 9999rem;
       background: #efefef;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       text-align: center;
   }

   .floating{
       width: 180px;
       font-size: 15px;
   }

   .get_start_btn>span.btn_text {
       color: white;
       width: 100%;
       text-align: left;
       padding-block: 10px;
       padding-left: 40px;
       z-index: 2;
       transition: all 200ms ease;
   }

   .get_start_btn>div.btn_overlay {
       background: #fff;
       width: 45px;
       height: calc(100% - 2px);
       display: flex;
       justify-content: flex-end;
       align-items: center;
       padding: 12px;
       border-radius: inherit;
       color: #242424;
       position: absolute;
       right: 1px;
       z-index: 1;
       transition: all 400ms ease;
   }

   .floating>div.btn_overlay{
    width: 40px;
   }

   .get_start_btn:hover>span.btn_text,
   .get_start_btn:focus>span.btn_text {
       color: #242424;
       font-weight: 500;
   }

   .get_start_btn:hover>div.btn_overlay,
   .get_start_btn:focus>div.btn_overlay {
       width: calc(100% - 2px);
       transition: width 200ms ease;
   }


   /* Slider button CSS Starts Here  */
   .course_button{
    width: 150px;
    font-size: 14px;
    background-color: #0d3572;
 }
 
 
 
 .course_button>span.btn_text {
   color: white;
   width: 100%;
   text-align: left;
   padding-block: 10px;
   padding-left: 15px;
   z-index: 2;
   transition: all 200ms ease;
 }


 .course_button>div.btn_overlay{
    width: 40px;
   }


   .course_button:hover>span.btn_text,
   .course_button:focus>span.btn_text {
       color: #242424;
   }


   .course_button>div.btn_overlay {
    background: #fff;
    width: 40px;
    height: calc(100% - 2px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    border-radius: inherit;
    color: #242424;
    position: absolute;
    right: 1px;
    z-index: 1;
    transition: all 400ms ease;
}